$background: rgba(219,193,193);
$brown: rgba(159,148,148);
$grey2: rgba(114,109,118);
$darkgrey: rgba(81,81,96);
$black: rgba(30,30,30);

$fontLato: 'Lato', sans-serif;
$fontRoboto: 'Roboto', sans-serif;

<link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">

body {
    background: $background;
}






